table {
    width: 100%;
    font-size: 20px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: rgb(240, 240, 240);
}

.demo-row-is-clicked {
  font-weight: bold;
}

.loading-spinner {
  padding: 100px;
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: center;
}